@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.button{
  padding : 20px;
  margin : 0 03px;
  width: 60px;
  border : 2px solid black;
  border-radius : 9px;
}

.row{
      margin: 8px 0;
    align-content: center;
    width: 83vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
  align-items : center;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 -30px 32px 0 rgba(0, 0, 0, 0.37);
}